name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          run_install: true

      - uses: actions/setup-node@v6
        with:
          cache: 'pnpm'

      - name: Run tests
        run: pnpm test

      - name: Run lint
        run: pnpm lint
