name: Update Bookmarklets

on:
  workflow_run:
    workflows:
      - CI
    types:
      - completed

jobs:
  update-readme:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6

      - name: Set up mise
        uses: jdx/mise-action@v2

      - name: Install dependencies
        run: pnpm install

      - name: Update bookmarklets
        run: pnpm create-bookmarklets

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: 'docs: update bookmarklets in README'
          file_pattern: 'README.md'
          branch: main
